body {
  margin: 0;
  padding: 0;
}

.header {
  background: black;
}
.header .name {
  width: 15%;
  float: left;
  text-align: right;
  color: #aaa !important;
  font-family: 'Montserrat', sans-serif;
  margin-top: -14px;
}
.header .name h1 {
  font-weight: 60;
}
.header .nav {
  width: 72%;
  float: left;
  text-align: right;
}
.header .nav ul li {
  list-style: none;
  display: inline-block;
  padding: 0 12px;
}
.header .nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #aaa !important;
}

.container {
  background: #fff;
}
.container .developer {
  width: 100%;
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 769px;
  color: #fff;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  position: relative;
}
.container .developer .developer-info {
  position: absolute;
  top: 192px;
  left: 407px;
  display: block;
  width: 47%;
  margin: 0 auto;
}
.container .developer .developer-info h2 {
  font-size: 34px;
  font-weight: 500;
  margin-bottom: -59px;
}
.container .developer .developer-info h1 {
  font-size: 100px;
  font-weight: 600;
}
.container .main-hero {
  background: #FFFFFF;
  padding: 80px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
.container .main-hero .hero-section {
  width: 78%;
  margin: 0 auto;
}
.container .main-hero .hero-section .hero-info {
  width: 45%;
  float: left;
  margin: 20px;
}
.container .main-hero .hero-section .hero-info h1 {
  font-size: 25px;
}
.container .main-hero .hero-section .hero-info p {
  color: #888;
  line-height: 2;
  font-size: 15px;
  margin-bottom: 28px;
}
.container .main-hero .hero-section .hero-info a {
  text-decoration: none;
  background: black;
  padding: 9px 23px;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}
.container .main-hero .hero-section .hero-progressbar {
  width: 45%;
  float: left;
  margin: 25px;
}
.container .main-hero .hero-section .hero-progressbar h1 {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
}
.container .main-hero .hero-section .hero-progressbar .webdesign {
  margin: 35px 0;
}
.container .main-hero .hero-section .hero-progressbar .webdesign .webdesign-1 {
  width: 90%;
  float: left;
  background: black;
  height: 30px;
}
.container .main-hero .hero-section .hero-progressbar .webdesign .webdesign-2 {
  background: #cec8c8;
  width: 10%;
  float: left;
  text-align: right;
  height: 30px;
}
.container .main-hero .hero-section .hero-progressbar .branding {
  margin: 35px 0;
}
.container .main-hero .hero-section .hero-progressbar .branding .branding-1 {
  width: 90%;
  float: left;
  background: black;
  height: 30px;
}
.container .main-hero .hero-section .hero-progressbar .branding .branding-2 {
  background: #cec8c8;
  width: 10%;
  float: left;
  text-align: right;
  height: 30px;
}
.container .main-hero .hero-section .hero-progressbar .development {
  margin: 75px 0;
}
.container .main-hero .hero-section .hero-progressbar .development .development-1 {
  width: 90%;
  float: left;
  background: black;
  height: 30px;
}
.container .main-hero .hero-section .hero-progressbar .development .development-2 {
  background: #cec8c8;
  width: 10%;
  float: left;
  text-align: right;
  height: 30px;
}
.container .main-service {
  background: #f7f7f7;
  font-family: 'Montserrat', sans-serif;
  padding: 50px 0;
}
.container .main-service .service {
  width: 78%;
  margin: 0 auto;
  text-align: center;
}
.container .main-service .service .service-heading {
  padding: 40px 0;
}
.container .main-service .service .service-heading h1 {
  font-size: 50px;
}
.container .main-service .service .service-info .common {
  width: 30%;
  float: left;
  margin: 10px;
  background: white;
  padding: 33px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
.container .main-service .service .service-info .common h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 54px;
}
.container .main-service .service .service-info .common h2 {
  font-family: inherit;
  color: #120f0e78;
  font-weight: 500;
  font-size: 21px;
}
.container .main-service .service .service-info .common p {
  color: #888;
  line-height: 1.8;
  font-size: 14px;
}
.container .work {
  text-align: center;
  width: 78%;
  margin: 0 auto;
  padding: 80px 0;
}
.container .work .work-heading h1 {
  font-size: 50px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  margin-bottom: 54px;
  font-family: 'Montserrat', sans-serif;
}
.container .work .work-list {
  padding: 15px 0;
}
.container .work .work-list ul {
  margin-right: 69px;
}
.container .work .work-list ul li {
  list-style: none;
  display: inline-block;
  padding: 10px;
}
.container .work .work-list ul li a {
  text-decoration: none;
  color: black;
  font-size: 17px;
  font-family: 'Open Sans', sans-serif;
}
.container .work .work-photo .work-photo-1 {
  width: 30%;
  float: left;
  margin: 15px;
}
.container .work .work-photo .work-photo-1 img {
  width: 100%;
}
.container .reviews {
  background-image: url("../img/clients(2).jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 500px;
  position: relative;
  text-align: center;
}
.container .reviews .reviews-info {
  color: #fff;
  position: absolute;
  left: 197px;
  top: 140px;
  width: 71%;
  margin: 0 auto;
  display: block;
}
.container .reviews .reviews-info h1 {
  font-size: 42px;
  font-family: 'Montserrat', sans-serif;
}
.container .reviews .reviews-info p {
  font-size: 16px;
  letter-spacing: -1px;
  line-height: 2;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  color: #ccc;
  width: 70%;
  margin: 0 auto;
}
.container .reviews .reviews-info .reviews-footer {
  width: 100%;
  margin: 0 auto;
  display: block;
  /*ul{
  	li{
  		list-style: none;
  		display: inline-block;
  		padding: 59px 82px;
  			a{
  				text-decoration: none;
  				border:1px solid #fff;
  				padding: 6px 20px;
  				box-sizing: border-box;
  				color:#fff;
  			}
  	}
  }*/
}
.container .reviews .reviews-info .reviews-footer .middle-text {
  font-family: 'Montserrat', sans-serif;
  position: relative;
  color: #ccc;
  font-weight: 500;
  margin-top: 36px;
}
.container .reviews .reviews-info .reviews-footer .middle-text h3 {
  font-size: 16px;
  font-weight: 500;
}
.container .reviews .reviews-info .reviews-footer .middle-text h3:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f104";
  border: 1px solid #fff;
  height: 24px;
  width: 50px;
  display: inline-block;
  margin-right: 140px;
}
.container .reviews .reviews-info .reviews-footer .middle-text h3:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f105";
  border: 1px solid #fff;
  height: 24px;
  width: 50px;
  display: inline-block;
  margin-left: 140px;
}
.container .main-project {
  background: #fff;
}
.container .main-project .project {
  width: 78%;
  margin: 0 auto;
  padding: 100px 0;
}
.container .main-project .project .project-1 {
  width: 24%;
  float: left;
  text-align: center;
}
.container .main-project .project .project-1 h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  font-weight: 500;
}
.container .main-project .project .project-1 h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 45px;
}
.container .main-project .project .project-1 h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.container .main-news {
  background: #f7f7f7;
  padding: 92px 0;
}
.container .main-news .news {
  width: 78%;
  margin: 0 auto;
}
.container .main-news .news .news-heading {
  text-align: center;
}
.container .main-news .news .news-heading h1 {
  font-size: 39px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}
.container .main-news .news .news-info .news-info-1 {
  width: 30%;
  float: left;
  margin: 15px;
  background: #fff;
}
.container .main-news .news .news-info .news-info-1 .image img {
  width: 100%;
}
.container .main-news .news .news-info .news-info-1 .image-info {
  padding: 16px 22px;
}
.container .main-news .news .news-info .news-info-1 .image-info h2 {
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 500;
}
.container .main-news .news .news-info .news-info-1 .image-info h6 {
  font-size: 14px;
  font-weight: 500;
}
.container .main-news .news .news-info .news-info-1 .image-info h6 .fas {
  margin-right: 5px;
}
.container .main-news .news .news-info .news-info-1 .image-info h6 .far {
  margin-right: 5px;
}
.container .main-news .news .news-info .news-info-1 .image-info p {
  color: #888;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  line-height: 1.6;
}
.container .main-news .news .news-info .news-info-1 .image-info a {
  color: #222;
  text-decoration: none;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
}
.container .contact {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding: 90px 0;
}
.container .contact .contact-heading h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 45px;
  padding: 30px 0;
}
.container .contact .contact-info .contact-media {
  width: 38%;
  float: left;
  margin-right: 20px;
  text-align: left;
  margin-top: -46px;
}
.container .contact .contact-info .contact-media ul li {
  list-style: none;
  display: inline-block;
  text-align: left;
  padding: 10px 12px;
  color: #322626;
  font-family: arial;
}
.container .contact .contact-info .contact-media ul li .fa, .container .contact .contact-info .contact-media ul li .fas {
  font-weight: 900;
  background: black;
  color: #fff;
  padding: 20px;
  border-radius: 10%;
}
.container .contact .contact-info .contact-media .social-media {
  padding: 10px 20px;
}
.container .contact .contact-info .contact-media .social-media ul li {
  list-style: none;
  display: inline-block;
  padding: 1px;
}
.container .contact .contact-info .contact-media .social-media ul li a {
  text-decoration: none;
  color: black;
  border: 1px solid black;
  border-radius: 50%;
  padding: 10px;
}
.container .contact .contact-info .contact-media .social-media ul li a:hover {
  background: black;
  color: #fff;
}
.container .contact .contact-info .contact-form {
  width: 58%;
  float: left;
  text-align: left;
}
.container .contact .contact-info .contact-form .names {
  width: 46%;
  height: 38px;
  background: #f7f7f7;
  border: none;
  margin-right: 7px;
  margin-bottom: 15px;
}
.container .contact .contact-info .contact-form .subject {
  width: 95%;
  height: 38px;
  background: #f7f7f7;
  border: none;
  margin-top: 30px;
  margin-bottom: 15px;
}
.container .contact .contact-info .contact-form .message {
  width: 95%;
  height: 140px;
  background: #f7f7f7;
  border: none;
  margin-top: 30px;
}
.container .contact .contact-info .contact-form a {
  text-decoration: none;
  background: black;
  color: #fff;
  padding: 10px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  display: inline-block;
}
.container .footer {
  background: black;
  color: #fff;
  padding: 80px 0;
  text-align: center;
}
.container .footer .footer-icon {
  margin-bottom: -12px;
  margin-right: 50px;
}
.container .footer .footer-icon ul li {
  list-style: none;
  display: inline-block;
  padding: 5px;
}
.container .footer .footer-icon ul li a {
  text-decoration: none;
  color: #fff;
  background: black;
  padding: 12px 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
  font-size: 14px;
}
.container .footer .footer-icon ul li a:hover {
  background: #fff;
  color: black;
}
.container .footer .footer-p p {
  color: #aaa;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

@media screen and (max-width: 1200px) {
  .header {
    padding: 20px 0;
  }

  .header-name {
    width: 10%;
  }

  .header-nav {
    width: 80%;
  }

  .container {
    width: 100%;
    margin-top: -50px;
  }

  .container .developer .developer-info {
    width: 100%;
    margin: 0 auto;
    left: -20px;
  }

  .container .main-hero .hero-section {
    width: 98%;
  }

  .container .main-service .service {
    width: 98%;
  }

  .container .main-service .service .service-info .common {
    width: 30%;
    margin: 14px;
  }

  .container .work {
    width: 98%;
  }

  .container .work .work-photo .work-photo-1 {
    width: 30%;
    margin: 13px;
  }

  .container .main-project .project {
    width: 95%;
  }

  .container .main-news .news {
    width: 95%;
  }

  .container .main-news .news .news-info .news-info-1 {
    width: 30%;
    margin: 15px;
  }

  .container .contact {
    width: 95%;
  }

  .container .contact .contact-info .contact-media {
    width: 39%;
  }
}
@media screen and (max-width: 992px) {
  .header {
    padding: 20px 0;
  }

  .header-name {
    width: 7%;
  }

  .header-nav {
    width: 91%;
  }

  .container {
    width: 100%;
    margin-top: -50px;
  }

  .container .developer .developer-info h1 {
    font-size: 86px;
  }

  .container .main-hero .hero-section {
    max-width: 98%;
  }

  .container .main-hero .hero-section .hero-info {
    width: 43%;
  }

  .container .main-service .service {
    max-width: 98%;
  }

  .container .main-service .service .service-info .common {
    width: 94%;
    margin: 22px;
  }

  .container .work {
    max-width: 98%;
  }

  .container .work .work-photo .work-photo-1 {
    width: 94%;
    margin: 2px 22px;
  }

  .container .reviews .reviews-info {
    width: 100%;
    margin-left: -184px;
  }

  .container .reviews .reviews-info .reviews-footer .middle-text h3::before {
    margin-right: 70px;
  }

  .container .reviews .reviews-info .reviews-footer .middle-text h3::after {
    margin-left: 70px;
  }

  .container .main-project .project {
    max-width: 93%;
  }

  .container .main-project .project .project-1 {
    width: 47%;
    margin: 3px;
  }

  .container .main-project .project .project-1 h2 {
    font-size: 34px;
    margin-bottom: 15px;
  }

  .container .main-project .project .project-1 h1 {
    font-size: 37px;
    margin: -5px 0;
  }

  .container .main-project .project .project-1 h3 {
    font-size: 14px;
    letter-spacing: 0px;
  }

  .container .main-news .news {
    max-width: 95%;
  }

  .container .main-news .news .news-info .news-info-1 {
    width: 47%;
    margin: 8px;
  }

  .container .contact {
    width: 95%;
  }

  .container .contact .contact-info .contact-media {
    width: 90%;
  }

  .container .contact .contact-info .contact-form {
    width: 100%;
  }

  .container .contact .contact-info .contact-form .names {
    width: 47%;
    margin-left: 4px;
  }
}
@media screen and (max-width: 768px) {
  .container .main-hero .hero-section {
    width: 100%;
  }

  .container .main-hero .hero-section .hero-info {
    width: 95%;
  }

  .container .main-hero .hero-section .hero-progressbar {
    width: 94%;
  }

  .container .main-service .service {
    width: 100%;
  }

  .container .main-service .service .service-info .common {
    width: 96%;
    margin: 14px;
  }

  .container .work {
    width: 98%;
  }

  .container .work .work-photo .work-photo-1 {
    width: 100%;
    margin: 12px 0;
  }

  .container .main-project .project {
    width: 95%;
  }

  .container .main-project .project .project-1 {
    width: 98%;
  }

  .container .main-news .news {
    width: 100%;
  }

  .container .main-news .news .news-info .news-info-1 {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 25px;
  }

  .container .contact {
    width: 95%;
    margin: 0 auto;
  }

  .container .contact .contact-info .contact-media {
    width: 100%;
  }

  .container .contact .contact-info .contact-media .social-media {
    width: 100%;
  }

  .container .contact .contact-info .contact-form {
    width: 99%;
    margin: 0 auto;
  }

  .container .contact .contact-info .contact-form .names {
    width: 100%;
  }

  .container .contact .contact-info .contact-form .subject {
    width: 100%;
  }

  .container .contact .contact-info .contact-form .message {
    width: 100%;
  }

  .container .contact .contact-info .contact-form a {
    padding: 10px 28px;
    width: 100%;
    display: block;
    margin: 0 auto;
    text-align: center;
  }

  .container .reviews .reviews-info {
    width: 100%;
    margin-left: -184px;
  }
}
@media screen and (max-width: 576px) {
  .container .main-service .service .service-info .common {
    width: 96%;
    margin-bottom: 25px;
  }

  .container .work .work-photo .work-photo-1 {
    width: 99%;
    margin-bottom: 22px;
  }

  .container .reviews .reviews-info {
    width: 100%;
    margin-left: -264px;
  }

  .container .contact .contact-info .contact-form {
    text-align: center;
  }

  .container .contact .contact-info .contact-form a {
    padding: 10px 28px;
    width: 100%;
    display: block;
    margin: 0 auto;
  }

  .container .reviews .reviews-info .reviews-footer {
    margin-left: -66px;
  }

  .container .reviews .reviews-info .reviews-footer ul {
    width: 100%;
  }

  .container .reviews .reviews-info .reviews-footer ul li {
    padding: 54px 23px;
  }

  .container .main-news .news .news-info .news-info-1 {
    width: 97%;
    margin: 8px;
  }
}
.clearfix:after {
  content: "";
  clear: both;
  display: block;
  visibility: hidden;
}

/*# sourceMappingURL=style.css.map */